@page
@model AmusementParkDB.Pages.ACL.EditModel

<h4>Edit ACL</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Acl.Id" />

            <div class="form-group">
                <label asp-for="Acl.IdUsers" class="control-label">User ID</label>
                <select asp-for="Acl.IdUsers" class="form-control" asp-items="ViewBag.IdUsers">
                    <option value="">-- Select User ID --</option>
                </select>
                <span asp-validation-for="Acl.IdUsers" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Acl.Acl1" class="control-label">ACL</label>
                <input asp-for="Acl.Acl1" class="form-control" />
                <span asp-validation-for="Acl.Acl1" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
