@page
@model AmusementParkDB.Pages.PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container">
    <h1 class="text-center my-4">Privacy Policy</h1>

    <div class="privacy-content">
        <p>
            This application respects your privacy. We ensure that all data collected is handled in accordance with
            applicable
            laws and regulations.
        </p>

        <h3>Your Rights</h3>
        <p>
            Your personal data is stored securely and not shared with third parties without consent. </br>
            You have the right to access, update, or delete your personal information. </br>
            We use cookies to improve user experience. You can disable cookies in your browser settings.
        <p>

        <h3>Data Security</h3>
        <p>
            We take the protection of your personal data seriously. All necessary measures are taken to safeguard the
            data
            against unauthorized access, alteration, disclosure, or destruction.
        </p>

        <h3>Changes to This Policy</h3>
        <p>
            We may update this privacy policy from time to time. Any changes will be communicated through this page.
            Please check for updates regularly.
        </p>
    </div>

    <div class="text-center my-4">
        <a asp-page="/Index" class="btn btn-primary">Return to Home Page</a>
    </div>
</div>
